<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cnpeng.cnpeng_demos2017_01"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--声明权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--震动的权限。4.4及以上不需要声明权限，但低于4.4 时需要声明权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--闪光灯的权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <!--拍照的权限，以及拍照的属性-自动聚焦-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".a_01_WebView01.WebViewTestActivity01"/>

        <activity android:name=".a_02_ViewStubTest.ViewStubTestActivitiy"/>

        <activity android:name=".a_03_CreateViewWithoutXML.CreateViewWithoutXMLActivity"/>

        <activity android:name=".a_04_ImageBrowser_V1.ImageBrowserActivityV1"/>

        <activity android:name=".a_05_scrollBallWithFinger.ScrollBallActivity"/>

        <activity android:name=".a_06_tablelayoutTest.TableLayoutTestActivity"/>

        <activity android:name=".a_07_frameLayout_NoenLamp.NeonLampActivity"/>

        <activity android:name=".a_08_relativeLayout_plumBlossom.PlumBlossomActivity"/>

        <activity android:name=".a_09_gridLayout_caculater.CaculaterActivity"/>

        <activity android:name=".a_10_textView_01.TextView01Activtiy"/>

        <activity android:name=".a_11_9PatchTest.NinePatchActivity"/>

        <activity
            android:name=".a_12_RadioButtonAndCheckBox.RadioButtonAndCheckBoxActivity"/>

        <activity android:name=".a_13_ToogleButtonAndSwitch.TBAndSwitchActivity"/>

        <activity android:name=".a_14_TextClockAndAnalogClock.TcAndAcActivity"/>

        <activity android:name=".a_15_chronometer.ChronometerActivity"/>

        <activity android:name=".A_16_ImageBrowserV2.ImageBrowserV2Activtiy"/>

        <activity
            android:name=".a_17_imageButtonAndZoomButton.ImageButtonAndZoomButtonActivity"/>

        <activity android:name=".a_18_QuickContactBadge.QuickContactBadgeActivity"/>

        <activity android:name=".a_19_ListView01.ListView01Activity"/>

        <activity android:name=".a_20_showLvWithArrayAdapter.ArrayAdapterActivity"/>

        <activity android:name=".a_21_ListActivity.MyListActivity"/>
        <activity android:name=".a_23_autoCompleteTextView.AutoCompleteTextViewActivity"/>
        <activity android:name=".a_24_gridView.GridViewActivity"/>
        <activity android:name=".a_25_expandableListView.ExpandableListViewActivity"/>
        <activity android:name=".a_26_spinner.SpinnerActivity"
                  android:theme="@style/Base.Theme.AppCompat.Light"/>
        <activity android:name=".a_27_AdapterViewFlipper.AdapterViewFlipperActivity"/>
        <activity android:name=".a_28_stackView.StackViewActivity"/>
        <activity android:name=".a_29_progressBar.ProgressBarActivity"/>
        <activity android:name=".a_30_SeekBar.SeekBarActivtiy"/>
        <activity android:name=".a_31_RatingBar.RatingBarActivity"/>
        <activity android:name=".a_32_ViewSwitcher.ViewSwitcherActivity"/>
        <activity android:name=".a_32_ViewSwitcher.ViewSwitcherActivity2"/>
        <activity android:name=".a_33_ImageSwitcher.ImageSwitcherActivity"/>
        <activity android:name=".a_34_textSwitcher.TextSwitcherActvity"/>
        <activity android:name=".a_35_viewFlipper.ViewFlipperActviity"/>
        <activity android:name=".a_36_Toast.ImageToastActivity"/>
        <activity android:name=".a_37_calendarView.CalendarViewActivity"/>
        <activity
            android:name=".a_38_DatePiackerAndTimePicker.DatePickerAndTimerPickerActivity"/>
        <activity
            android:name=".a_39_DatePickerDialogAndTimerPickerDialg.DatePickerDialogAndTimerPickerDialogActvitiy"/>
        <activity android:name=".a_40_NumberPicker.NumberPickerActivity"/>
        <activity android:name=".a_41_SearchView.SearchViewActivtiy"/>
        <activity android:name=".a_42_tabHost.TabHostActivity"/>
        <activity android:name=".a_43_scrollView.ScrollViewActivity"/>
        <activity android:name=".a_44_notification.NotificationActivity"/>
        <activity android:name=".a_45_alertDialog.AlertDialogActivity"/>


        <activity
            android:name=".b_01_spannableString_ImageSpan.SpannableStringAndImageSpanActivity"/>
        <activity android:name=".b_02_DrawerLayoutAndImmersion.DrawerLayoutActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".b_04_suspendAndListView.SuspendAndListViewActivity"/>
        <activity android:name=".b_04_suspendAndListView.SuspendAndListViewActivity2"/>
        <activity android:name=".b_05_alertDialog_dismiss.DissmissAlertDialog"/>
        <activity android:name=".b_06_ObjectAnimator.ObjectAnimatorAndListViewActivity"/>
        <activity android:name=".b_07_bottomNavigationView.BottomNavigationViewActivity"/>
        <activity android:name=".b_08_CL_TB_VP_RV.ClTbVpRvActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".b_09_TextureView.TextureViewActivity"/>
        <activity android:name=".b_10_AndroidDrawables.TransitionDrawableActivity"/>
        <activity android:name=".b_10_AndroidDrawables.CustomDrawableActivity"/>
        <activity android:name=".b_11_AddAppToSysShare.AddAppToSysShareActivity">
            <!--将应用加入系统分享界面，并处理分享过来的数据-->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="multipart/*"/>
            </intent-filter>
        </activity>
        <activity android:name=".b_12_customCalendar.CustomCalendarActivity"/>
        <activity android:name=".b_13_customUserAgent.CustomUserAgentActivity"/>
        <activity android:name=".b_14_screenShotInApp.ScreenShotActivity"/>
        <activity android:name=".b_15_cornerAlertDialog.CornerAlertDialogActivity"/>
        <activity android:name=".b_16_customDialog.CustomDialogActivity"/>

        <activity android:name=".c_01_customView.CustomViewActivity"/>


        <activity android:name=".TempActivity"/>

    </application>
</manifest>